<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AMRApp</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>  
   <servlet-name>servletMondayRenewal</servlet-name>  
   <servlet-class>com.AMRApp.controller.servletMondayRenewal</servlet-class>  
   <load-on-startup>1</load-on-startup>  
  </servlet>  
  <error-page>
    <error-code>500</error-code>
    <location>/login.jsp</location>
	</error-page>
  
</web-app>